.footer {
    background-color: $thirdColor;
    color: $secondaryColor;

    &__container {
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto 1fr auto;
        justify-items: start;
        align-items: end;
        @include adaptiveValue("padding-top", 20px, 40px, $minWidth, $mobile);
        @include adaptiveValue("padding-bottom", 20px, 40px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            grid-template-rows: repeat(5, auto);
            justify-content: space-between;
            align-items: start;
            @include adaptiveValue("column-gap", 15px, 70px, $mobile, $desktop);
            width: 100%;
            padding: 40px 0 30px;
        }
    }

    &__logo {
        grid-row: 1;
        grid-column: 1;
        @include adaptiveValue("height", 15px, 30px, $minWidth, $mobile);
    }

    &__logo-icon {
        display: block;
        height: 100%;
    }

    &__company-details {
        grid-row: 2/4;
        grid-column: 1/3;
        @include adaptiveValue("margin-top", 10px, 25px, $minWidth, $mobile);
        line-height: 1.2;
        @include adaptiveValue("font-size", 10px, 24px, $minWidth, $mobile);
        font-weight: 500;
        color: #9A9A9A;

        @media (min-width: $mobile) {
            grid-row: 2/5;
            grid-column: 1; 
            @include adaptiveValue("margin-top", 10px, 5px, $mobile, $desktop);
            @include adaptiveValue("font-size", 12px, 14px, $mobile, $desktop);
        }
    }

    &__menu {
        display: none;

        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: 1fr;
            justify-content: space-between;
            justify-items: start;
            align-items: start;
            @include adaptiveValue("column-gap", 10px, 80px, $mobile, $desktop);
            grid-row: 1/5;
            grid-column: 2;
            width: 100%;
        }
    }

    &__menu-left {
    }

    &__menu-center {
    }

    &__menu-right {
    }

    &__menu-item {
        @include adaptiveValue("margin-bottom", 10px, 15px, $mobile, $desktop);
    }

    &__menu-link {
        display: inline-block;
        @include adaptiveValue("font-size", 12px, 16px, $mobile, $desktop);
        font-weight: 500;
        cursor: pointer;

        &.footer__menu-link_download {
            color: $primaryColor;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $primaryColor;
                transition: background-color 0.3s ease;
            }
        }
    }

    &__phone {
        display: none;

        @media (min-width: $mobile) {
            grid-row: 1;
            grid-column: 3;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            @include adaptiveValue("gap", 5px, 7px, $mobile, $desktop);
            flex: 0 0 auto;
            color: $secondaryColor;
        }
    }

    &__phone-link {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 5px, 7px, $mobile, $desktop);
        fill: $secondaryColor;
        transition: opacity 0.3s ease;
    }

    &__phone-icon {
        @include adaptiveValue("width", 16px, 20px, $mobile, $desktop);
        @include adaptiveValue("height", 16px, 20px, $mobile, $desktop);
    }

    &__phone-number {
        line-height: 1;
        @include adaptiveValue("font-size", 16px, 20px, $mobile, $desktop);
        font-weight: 700;
        transform: translateY(2px);
    }

    &__phone-text {
        line-height: 1;
        @include adaptiveValue("font-size", 14px, 18px, $mobile, $desktop);
        font-weight: 400;
        color: $primaryColor;
        transform: translateY(2px);
    }

    &__email-link {
        display: none;

        @media (min-width: $mobile) {
            grid-row: 2;
            grid-column: 3;
            display: flex;
            align-items: center;
            @include adaptiveValue("gap", 5px, 7px, $mobile, $desktop);
            @include adaptiveValue("margin-top", 16px, 20px, $mobile, $desktop);
            fill: $secondaryColor;
            transition: opacity 0.3s ease;
        }
    }

    &__email-icon {
        @include adaptiveValue("width", 16px, 20px, $mobile, $desktop);
        @include adaptiveValue("height", 16px, 20px, $mobile, $desktop);
    }

    &__email-adress {
        transform: translateY(5%);
        line-height: 1;
        @include adaptiveValue("font-size", 16px, 20px, $mobile, $desktop);
        font-weight: 400;
    }

    &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include adaptiveValue("gap", 16px, 35px, $minWidth, $mobile);
        grid-row: 2;
        grid-column: 3;
        align-self: center;

        @media (min-width: $mobile) {
            justify-content: flex-start;
            grid-row: 3;
            grid-column: 3;
            @include adaptiveValue("gap", 16px, 20px, $mobile, $desktop);
            @include adaptiveValue("max-width", 165px, 200px, $mobile, $desktop);
            @include adaptiveValue("margin-top", 16px, 20px, $mobile, $desktop);
        }
    }

    &__social-link {
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("flex-basis", 18px, 32px, $minWidth, $mobile);
        @include adaptiveValue("height", 18px, 36px, $minWidth, $mobile);
        fill: $secondaryColor;

        @media (min-width: $mobile) {
            @include adaptiveValue("flex-basis", 20px, 24px, $mobile, $desktop);
            @include adaptiveValue("height", 20px, 24px, $mobile, $desktop);
        }

        .footer__marketplaces & {
            display: none;

            @media (min-width: $mobile) {
                display: block;
            }
        }
    }

    &__social-icon {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__marketplaces {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-row: 1;
        grid-column: 2/4;
        @include adaptiveValue("gap", 10px, 20px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            justify-content: flex-start;
            grid-row: 3;
            grid-column: 3;
            @include adaptiveValue("gap", 10px, 16px, $mobile, $desktop);
            @include adaptiveValue("max-width", 165px, 200px, $mobile, $desktop);
            @include adaptiveValue("margin-top", 16px, 20px, $mobile, $desktop);
        }
    }

    &__marketplace-link {
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("height", 15px, 30px, $minWidth, $mobile);
        fill: $secondaryColor;

        @media (min-width: $mobile) {
            @include adaptiveValue("height", 12px, 14px, $mobile, $desktop);
        }

        &_name_ozon {
            @include adaptiveValue("flex-basis", 55px, 110px, $minWidth, $mobile);

            @media (min-width: $mobile) {
                @include adaptiveValue("flex-basis", 55px, 60px, $mobile, $desktop);
            }
        }

        &_name_wb {
            @include adaptiveValue("flex-basis", 25px, 50px, $minWidth, $mobile);

            @media (min-width: $mobile) {
                @include adaptiveValue("flex-basis", 26px, 30px, $mobile, $desktop);
            }
        }
    }

    &__marketplace-icon {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__copyright {
        grid-row: 3;
        grid-column: 3;
        width: 100%;
        @include adaptiveValue("margin-top", 10px, 24px, $minWidth, $mobile);
        text-align: right;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 10px, 24px, $minWidth, $mobile);
        
        @media (min-width: $mobile) {
            grid-row: 5;
            grid-column: 1/4;
            width: 100%;
            margin-top: 30px;
            text-align: center;
            line-height: 1;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__link {
        position: relative;
        transition: color 0.3s ease, fill 0.3s ease;

        @media (any-hover: hover) {

            &:hover {
                color: $primaryColor;
                fill: $primaryColor;

                &.footer__menu-link_download {
                    color: $secondaryColor;

                    &::before {
                        background-color: $secondaryColor;
                    }
                }
            }
        }

        @media (any-hover: none) {

            &_clicked {
                color: $primaryColor;
                fill: $primaryColor;

                &.footer__menu-link_download {
                    color: $secondaryColor;

                    &::before {
                        background-color: $secondaryColor;
                    }
                }
            }
        }

        @include mobileClickAnimation;
    }
}
