.about {
    @include adaptiveValue("padding-top", 35px, 80px, $minWidth, $mobile);
    @include adaptiveValue("padding-bottom", 35px, 80px, $minWidth, $mobile);
    background-color: $backgroundColor;

    @media (min-width: $mobile) {
        @include adaptiveValue("padding-top", 60px, 90px, $mobile, $desktop);
        @include adaptiveValue("padding-bottom", 60px, 90px, $mobile, $desktop);
    }

    &__container {
        display: flex;
        flex-flow: column-reverse nowrap;
        @include adaptiveValue("gap", 40px, 90px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            flex-flow: row nowrap;
            @include adaptiveValue("gap", 15px, 30px, $mobile, $desktop);
        }
    }

    &__slider-container {
        position: relative;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("flex-basis", 220px, 530px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            width: 55%;
            flex-basis: 55%;
            @include adaptiveValue("height", 420px, 520px, $mobile, $desktop);
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__slider-wrapper {
    }

    &__slide {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__slide-image {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__slider-prev-button,
    &__slider-next-button {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &__slider-next-button {
        left: auto;
        right: 5%;
    }

    &__slider-prev-icon {
        
    }

    &__slider-next-icon {

    }

    &__slider-pagination {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1;

        @media (min-width: $mobile) {
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;
            transform: translateX(100%);
        }
    }

    &__text {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        font-family: $TTNorms;
        color: $thirdColor;

        @media (min-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 5px, 10px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 5px, 5px, $mobile, $desktop);
        }
    }

    &__title-brake {

        @media (min-width: $smallMobile) {
            display: none;
        }

        @media (min-width: $mobile) {
            display: inline;
        }
    }

    &__paragraph {
        @include adaptiveValue("margin-bottom", 20px, 40px, $minWidth, $mobile);
        line-height: 1.2;
        @include adaptiveValue("font-size", 14px, 32px, $minWidth, $mobile);
        font-weight: 400;

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 20px, 30px, $mobile, $desktop);
            @include adaptiveValue("font-size", 16px, 20px, $mobile, $desktop);
        }

        @media (min-width: $tablet) {
            @include adaptiveValue("margin-right", 10px, 15px, $tablet, $desktop);
        }
    }
}

