.title-screen {
    position: relative;
    width: 100%;
    min-width: $minWidth;
    min-height: 100vh;
    overflow: hidden;

    @media (min-aspect-ratio: 2/3) {
        aspect-ratio: 1/2;
    }

    @media (min-aspect-ratio: 2/3) and (min-width: $mobile) {
        aspect-ratio: unset !important;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: 130%;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 25%,
                                                rgba(0, 0, 0, 0.1) 50%, 
                                                rgba(0, 0, 0, 0.15) 75%),
                          url("../img/title-screen/background-mobile.webp");
        
        @media (min-width: $smallMobile) {
            background-size: 100%;
        }

        @media (min-width: $mobile) {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: 30% 60%;
            background-size: cover;
            background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 30%, 
                                                      rgba(0, 0, 0, 0.2) 40%, 
                                                      rgba(0, 0, 0, 0.15) 50%, 
                                                      rgba(0, 0, 0, 0.1) 60%, 
                                                      rgba(0, 0, 0, 0.05) 70%),
                              url("../img/title-screen/background.webp");
        }
    }

    &__container {
        position: relative;
        z-index: 1;

        @media (min-aspect-ratio: 2/3) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }

        @media (min-aspect-ratio: 2/3) and (min-width: $mobile) {
            position: relative !important;
            left: 0 !important;
            transform: none !important;
            height: auto !important;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: minmax(calc($minWidth - $containerPadding * 2), calc(92vw - $containerPadding * 2));
        grid-template-rows: repeat(3, auto) 1fr;
        justify-content: center;
        min-height: 100vh;
        height: 100%;
        @include adaptiveValue("padding-top", 135px, 200px, $minWidth, $mobile);
        @include adaptiveValue("padding-bottom", 20px, 50px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            display: block;
            max-width: 48%;
            min-height: 0;
            margin: 0 0 0 auto;
            //padding-top: calc(35vh + 40px);
            padding-top: 30vh;
            padding-bottom: 5vh;
        }

        @media (min-width: $tablet) {
            //padding-top: calc(30vh + 50px);
            padding-top: 25vh;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 7px, 12px, $minWidth, $mobile);
        text-transform: uppercase;
        line-height: 1;
        @include adaptiveValue("font-size", 30px, 55px, $minWidth, $mobile);
        font-weight: 800;

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 7px, 10px, $mobile, $desktop);
            @include adaptiveValue("font-size", 40px, 60px, $mobile, $desktop);
        }
    }

    &__subtitle {
        @include adaptiveValue("margin-bottom", 20px, 40px, $minWidth, $mobile);
        line-height: 1;
        @include adaptiveValue("font-size", 16px, 30px, $minWidth, $mobile);
        font-weight: 500;

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 30px, 45px, $mobile, $desktop);
            @include adaptiveValue("font-size", 22px, 34px, $mobile, $desktop);
        }
    }

    &__advantages {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        @include adaptiveValue("gap", 10px, 15px, $minWidth, $mobile);
        @include adaptiveValue("margin-bottom", 20px, 30px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("gap", 10px, 15px, $mobile, $desktop);
            //@include adaptiveValue("margin-bottom", 40px, 60px, $mobile, $desktop);
            @include adaptiveValue("margin-bottom", 20px, 30px, $mobile, $desktop);
        }
    }

    &__advantage {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        @include adaptiveValue("gap", 7px, 15px, $minWidth, $mobile);
        max-width: 100%;

        @media (min-width: $mobile) {
            @include adaptiveValue("gap", 7px, 10px, $mobile, $desktop);
        }
    }

    &__advantage-icon {
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("flex-basis", 10px, 14px, $minWidth, $mobile);
        @include adaptiveValue("height", 12px, 18px, $minWidth, $mobile);
        @include adaptiveValue("padding-top", 2px, 7px, $minWidth, $mobile);
        fill: $primaryColor;

        @media (min-width: $mobile) {
            @include adaptiveValue("flex-basis", 8px, 12px, $mobile, $desktop);
            @include adaptiveValue("height", 11px, 16px, $mobile, $desktop);
            @include adaptiveValue("padding-top", 3px, 6px, $mobile, $desktop);
        }
    }

    &__advantage-text {
        flex: 1 1 auto;
        font-family: $TTNorms;
        @include adaptiveValue("line-height", 18px, 36px, $minWidth, $mobile);
        @include adaptiveValue("font-size", 14px, 28px, $minWidth, $mobile);
        font-weight: 400;

        @media (min-width: $mobile) {
            @include adaptiveValue("line-height", 18px, 28px, $mobile, $desktop);
            @include adaptiveValue("font-size", 16px, 24px, $mobile, $desktop);
        }
    }

    &__promo {
        position: relative;
        @include adaptiveValue("margin-bottom", 30px, 40px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 30px, 40px, $mobile, $desktop);
        }
    }

    &__promo-round {
        position: relative;
        @include adaptiveValue("width", 100px, 150px, $minWidth, $mobile);
        @include adaptiveValue("height", 100px, 150px, $minWidth, $mobile);
        border-radius: 50%;
        background: linear-gradient(180deg, #FF0019 0%, #AC1A28 100%);

        @media (min-width: $mobile) {
            @include adaptiveValue("width", 100px, 150px, $mobile, $desktop);
            @include adaptiveValue("height", 100px, 150px, $mobile, $desktop);
        }
    }

    &__promo-round-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $TTNorms;
        @include adaptiveValue("font-size", 32px, 50px, $minWidth, $mobile);
        font-weight: 700;

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 32px, 50px, $mobile, $desktop);
        }
    }

    &__promo-parallelogram {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) skewX(35deg);
        z-index: -5;
        @include adaptiveValue("width", 200px, 300px, $minWidth, $mobile);
        @include adaptiveValue("height", 66px, 99px, $minWidth, $mobile);
        background-color: #F6931D;

        @media (min-width: $mobile) {
            @include adaptiveValue("width", 200px, 300px, $mobile, $desktop);
            @include adaptiveValue("height", 66px, 99px, $mobile, $desktop);
        }
    }

    &__promo-title {
        position: absolute;
        top: 50%;
        left: 110%;
        transform: translateY(-50%);
        text-transform: uppercase;
        line-height: 1.3;
        font-family: $TTNorms;
        @include adaptiveValue("font-size", 19px, 30px, $minWidth, $mobile);
        font-weight: 700;

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 19px, 30px, $mobile, $desktop);
        }
    }

    &__promo-subtitle {
        position: absolute;
        bottom: 0;
        left: 110%;
        white-space: nowrap;
        font-family: $TTNorms;
        @include adaptiveValue("font-size", 14px, 20px, $minWidth, $mobile);
        font-weight: 400;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 14px, 20px, $mobile, $desktop);
        }
    }

    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        @include adaptiveValue("gap", 10px, 30px, $minWidth, $mobile);
        align-self: end;
        
        @media (min-width: $mobile) {
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            @include adaptiveValue("gap", 15px, 30px, $mobile, $desktop);
        }
    }

    &__button {
        width: 100%;
        @include adaptiveValue("height", 50px, 90px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("height", 40px, 60px, $mobile, $desktop);

            &_type_order {
                @include adaptiveValue("width", 115px, 170px, $mobile, $desktop);
            }
    
            &_type_consultation {
                @include adaptiveValue("width", 220px, 330px, $mobile, $desktop);
            }
        }
    }

    &__button-text {
        @include adaptiveValue("font-size", 16px, 36px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 12px, 18px, $mobile, $desktop);
        }
    }
}

