@mixin adaptiveValue($property, $minValue, $maxValue, $minSize: $minWidth, $maxSize: $maxContainerWidth) {
    
    #{$property}: $minValue;
    
    @media (min-width: $minSize) {
        #{$property}: calc($minValue + ($maxValue - $minValue) / 
                      ($maxSize - $minSize) * (100vw - $minSize));
    }

    @media (min-width: $maxSize) {
        #{$property}: $maxValue;
    }
}

@mixin mobileClickAnimation($shadowColor: $secondaryColor, $addedWidth: 10px, $addedHeight: 10px) {

    @media (any-hover: none) {

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 50%;
            border-radius: 7px;
            box-shadow: inset 0 0 15px 10px $shadowColor;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.2s linear,
                        height 0s linear 0.2s,
                        width 0s linear 0.2s;
        }

        &_clicked::after {
            opacity: 0.2;
            width: calc(100% + $addedWidth);
            height: calc(100% + $addedHeight);
            transition: opacity 0.2s linear,
                        height 0.2s linear,
                        width 0.2s linear;
        }
    }
}
